<html>
	<head>
		<title>create a new question</title>
	</head>
	<body>
		<h2>please create a new question</h2>
		<form method = "post">
		<div>
			<label for = "title">Title</label>
			<input name = "title" type="text"/>
		</div>
		<div>
			<label for = "question">question</label>
			<input name = "question" type="text"/>
		</div>
		<div>
			<label for = "answer">answer</label>
			<input name = "answer" type="text"/>
		</div>		
		<div>
			<button type= "submit">Submit question</button>	
		</div>
	</body>
</html>